################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Console_Application_Maths_Assignment/.vs/Console_Application_Maths_Assignment
/Math_and_Comparison_Operators_Assignment/.vs/Math_and_Comparison_Operators_Assignment
/Boolean_Logic_Assignment/.vs/Boolean_Logic_Assignment
/Branching_Assignment/.vs/Branching_Assignment
/Arrays and Lists/.vs
/Console App Array Assignment/.vs/Console App Array Assignment
/Console App Assignment 2/.vs/Console App Assignment 2
/ConsoleApp_Strings_Ints_Assignment/.vs/ConsoleApp_Strings_Ints_Assignment
/TwentyOneGame/.vs/TwentyOneGame
/Calling_Methods_Assignment/.vs/Calling_Methods_Assignment
/TwentyOneGame/.vs/ProjectEvaluation
/Main_Method_Assignment/.vs/Main_Method_Assignment
