################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Console_Application_Maths_Assignment/.vs/Console_Application_Maths_Assignment
/Math_and_Comparison_Operators_Assignment/.vs/Math_and_Comparison_Operators_Assignment
/Boolean_Logic_Assignment/.vs/Boolean_Logic_Assignment
/Branching_Assignment/.vs/Branching_Assignment
