################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Console_Application_Maths_Assignment/.vs/Console_Application_Maths_Assignment
